@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    font-family: 'DynaPuff', cursive;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    width: 25%;
    margin: 5px auto;
    border-radius: 15px;
    background-color: rgb(136, 135, 135);
}

.button {
    padding: 15px 25px;
    border-radius: 12px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
}

.row {
    margin: 5px;

}

.btn {
    padding-left: 10px;
}

.row input {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 85%;
    font-size: 1.5rem;
    background-color: antiquewhite;
}
